<!--<mat-toolbar class="one">
  <span class="material-icons" style="float: right;">
    account_circle
    </span>
    <div class="topnav-right">
    <a href="#search">Search</a>
    <a href="#about">About</a>
  </div>
  
</mat-toolbar>
-->

<!--<mat-toolbar class="one">
<mat-toolbar-row>
  <span class="example-spacer"></span>
  <span class="material-icons">
    account_circle
    </span>
  <span style="color: black">John Log In </span>
</mat-toolbar-row>
</mat-toolbar>
<br>

-->
<div class="myDiv">
 <br>
<strong style="font-size: 30px;">Functional Planning and Costing</strong>
<p style="float: right;"> Logged In</p>
<span class="material-icons" style="float: right;">
  account_circle
  </span>
</div>

<app-navbar>
 
</app-navbar>
<footer>
  <p>Arnetta Technologies Copyright @C 2020</p>
</footer>



  