<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<form class="needs-validation" novalidate>
    <div class="container template-blog template-single-blog">
 <h2>Add New Agenda</h2>
    </div>
    <div class="form-row">
      <div class="col-md-5 mb-3">
        <label for="validationCustom01">Crop</label>
        <input type="text" class="form-control" id="validationCustom01" required>
      </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
      <div class="col-md-5 mb-3">
      <label  for="inlineFormCustomSelectPref">Season</label>
      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option selected>Choose...</option>
        <option value="1">Summer</option>
        <option value="2">Winter</option>
        <option value="3">Rainy</option>
      </select>
    </div>
      </div>
    <div class="form-row">
      <div class="col-md-5 mb-3">
        <label for="validationCustom01" >Period From:</label>&nbsp;
        <input type="date"  class="form-control" id="validationCustom01" required> 
      </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
      <div class="col-md-5 mb-3">
        <label for="validationCustom01" >Period To:</label>&nbsp;
        <input type="date"  class="form-control" id="validationCustom01" required> 
      </div>
      </div>
      <div class="form-row">
        <div class="col-md-5 mb-3">
            <label for="validationCustom01" >Description: </label>
        </div>
        <textarea id="w3review" rows="5" cols="60" class="form-control" id="validationCustom01">
            At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
            </textarea>
      </div><br>
      <div>

        <button class="btn btn-danger" style="margin:5px; float: right" >Close</button> 
        <button class="btn btn-warning" style="margin:5px; float: right" ><i class="fa fa-plus-square"></i>Create & Continue</button>
    </div>
      <!-- <input type="button" value="Click Me" style="float: right;">&nbsp;&nbsp;
      <input type="button" value="Click Me" style="float: right;"> -->
    <!--<div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>-->
  </form>
  
 